{erl_opts, [no_debug_info]}.
{deps, [
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {tag, "2.8.0"}}},
    {efene, {git, "https://github.com/efene/efene.git", {branch, "master"}}}
]}.

{escript_incl_apps,
 [erlplorer, efene, jsx]}.
{escript_top_level_app, erlplorer}.
{escript_name, erlplorer}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

{plugins, [
    {rebar3_efene_compile, ".*", {git, "https://github.com/efene/rebar3_efene_compile.git", {branch, "master"}}}
    ]}.

{provider_hooks, [{pre, [{compile, {efene, compile}}]}]}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
