{erl_opts, [no_debug_info]}.
{deps, [jsx, efene, aleppo]}.

{escript_incl_apps,
 [erlplorer, efene, jsx, aleppo, ast_walk]}.
{escript_top_level_app, erlplorer}.
{escript_name, erlplorer}.
{escript_emu_args, "%%! +sbtu +A0\n"}.

{plugins, [rebar3_efene]}.

{provider_hooks, [{pre, [{compile, {efene, compile}}]}]}.

%% Profiles
{profiles, [{test, [{erl_opts, [debug_info]} ]}]}.
